body {
    display: flex;
    flex-direction: column;
    /* NEW 100vh stands for the view of the window will be 100% of the viwed window I used it to push my footer to the bottom of every page */
    height: 100vh;
    margin: 0px;
    padding: 0px;
}

#titleDiv {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    box-sizing: border-box;

    border: 2px solid black;
    background-color: rgb(252, 132, 132);
    margin: 0;
    padding: 0;
}

#titleText {
    color: black;
    text-align: left;
    font-size: 4.75em;
    margin-left: 8px;
}

#backGroundColor {
    background-color: pink;
}

#footCSS {
    border: 2px solid black;
    background-color: rgb(252, 132, 132);
    text-align: center;
    margin-top: auto;
    width: 100%;
    padding: 0;

}

#footCSS img {
    height: auto;
    width: 15%;
    margin: 0;
    padding: 0;
}

#activeLink {
    transform: scale(1.05);
    font-weight: bold;
}

.linkDiv {
    margin-left: auto;
    margin-right: 12px;
    display: flex;
    gap: 12px;
}

.linkDiv a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
}

/* NEW CSS Property */
.linkDiv:has(a:hover) {
    gap: 25px;
    padding-right: 10px;
}

.linkDiv a:hover {
    transform: scale(1.16);
    gap: 4px;
}

.linkText {
    border: 2px solid black;
    background-color: #FFACAC;
}

.linkText:hover {
    background-color: #FFD2D2;
}

.overViewDiv {
    display: block;
    margin: 24px;
}

.overViewHeader {
    text-align: left;
    margin: 8px;
    font-size: 3em;
    margin: 0 0 12px 0;

}

.textImgAlignment {
    display: flex;
    align-items: center;
    gap: 12px;
}

.textImgAlignment p {
    margin-top: 0px;
    text-align: center;
}

.pText {
    font-size: 1.5em;
    margin-top: 0px;
}

.pText h2 {
    text-align: center;
}

.pText,
.imgClass {
    /* NEW CSS */
    flex: 1;
}

.imgClass img {
    width: 100%;
    height: auto;
    border: 3px solid black;
    border-radius: 5%;
    object-fit: cover;
}

/* General Flex Box */
.bannerBox {
    display: flex;
    gap: 12px;
    justify-content: space-evenly;
    width: 100%;

}

.bannerText {
    text-align: center;
    font-size: 2em;
}

.bannerImgDiv {
    align-items: center;
    text-align: center;
    background-color: #FFACAC;
    height: auto;
    width: 25%;
    border: 2px solid black;
    border-radius: 5%;
    margin: 16px;
}

.bannerImgLinks {
    display: inline-block;
    transition: transform 0.2s ease;
}

.bannerImgLinks:hover {
    transform: translateY(-5px);
}

.bannerImgDiv img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.videoDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px;
}

.videoDiv video {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 5%;
    margin-left: 32px;
}

.videoDiv img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 5%;
    margin-left: 32px;
}

.videoDivParText {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #FFACAC;
    font-size: 1.5em;

    border-radius: 10px;
    border: 2px solid black;

    padding: 10px;
    width: 500px;
    height: 500px;

    white-space: normal;
    overflow-wrap: break-word;
}

.videoDivParTexDIV {
    text-align: center;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.openButton {
    padding: 6px 12px;
    font-size: 0.9em;
    /* NEW CSS 
    Makes cursor turn into a hand*/
    cursor: pointer;

}