header {
    position: sticky;
    padding: 10px;
    width: 100%;
    background-color: #2C04F2;

    font-size: 4em;
    text-align: center;
    color: white;
}

body {
    margin: 0;
    background-color: #F6F4FE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#q1-div {
    padding: 15px;
    font-size: 3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

#question-1-answer {
    font-size: 1em;
}

#q2-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3em;
    gap: 10px;
    padding: 15px;
}

#q2-div input[type="radio"] {
    transform: scale(2);
    margin-right: 15px;
}

#q3-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 3em;
    padding: 15px;
}

#question-3-answer {
    font-size: 1em;
    text-align: center;
}

#q4-div {
    font-size: 3em;
    display: flex;
    gap: 10px;
    padding: 15px;
}

#alphabet-letters {
    font-size: 1em;
    align-items: center;
}

#q5-div {
    display: flex;
    flex-direction: column;
    font-size: 3em;
    gap: 10px;
    padding: 15px;
    align-items: center;
}

#q5-div input[type="checkbox"] {
    transform: scale(2);
    margin-right: 15px;
}

#submit {
    transform: scale(3);
    margin: 25px;
}


#q1-img {
    width: 50px;
    height: 50px;
}

#q2-img {
    width: 50px;
    height: 50px;
}

#q3-img {
    width: 50px;
    height: 50px;
}

#q4-img {
    width: 50px;
    height: 50px;
}

#q5-img {
    width: 50px;
    height: 50px;
}


#q2-options {
    display: flex;
    gap: 20px;
}

.answer-text {
    display: flex;
    display: row;
    gap: 15px;
}